h1{
  
    color:white;
    font-size: 100px;
    text-shadow: 0 0 3px rgb(66, 3, 3); 
}
img
{
    height:1000px;
 
    border-radius: 16px; 

}

 .container-fluid
 {
    background: #F8F8FC;
    background: -webkit-linear-gradient(top left, #4216021b, #0e050098);
    background: -moz-linear-gradient(top left, #4216021b, #0e05006d);
    background: linear-gradient(to bottom right, #42160263, #0b0b0a71);
    color:white;
    height:800px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 p{
    text-align: center;
    margin-top: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
  
 }