<div class="container-fluid">
   <div class="cover">
   
    <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"  data-bs-interval="3000">
          <p class="d-block w-100" alt="...">"Reading is a conversation. All books talk, But a good book listens as well."</p>
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <p class="d-block w-100" alt="...">"Keep reading. It's one of the most marvelous adventures that anyone can have."</p>
        </div>
        <div class="carousel-item"  data-bs-interval="3000">
          <p  class="d-block w-100" alt="...">"Reading is like breathing in,Writing is like breathing out."</p>
        </div>
      </div>
    </div>  
</div> 

