nav
{
    margin-top: 25px;
    /* Created with https://www.css-gradient.com */
background: #800506;
background: -webkit-linear-gradient(top left, #800506, #030301);
background: -moz-linear-gradient(top left, #800506, #030301);
background: linear-gradient(to bottom right, #800506, #030301);

}
a
{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 3px white; 
 
 
}
/* #books
{
 
    margin-left:640px;
} */
/* #home
{
    margin-left:670px; 
} */
a:hover{
    color:white;
    font-weight: 500;
}
.navbar-nav h1{
    color: white;
    text-shadow: 0 0 3px white; 
    margin-left: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
