
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav navbar-right">
       
        <a id="home" class="nav-link"    routerLink="/"  *ngIf="!authService.loggedIn()">Home</a>
        <a id="login" class="nav-link"    routerLink="login" *ngIf="!authService.loggedIn()">Login</a>
        <a  id="signup" class="nav-link"    routerLink="signup" *ngIf="!authService.loggedIn()">SignUp</a>
        <a id="books" class="nav-link"    routerLink="books" *ngIf="authService.loggedIn()">Books</a>
        <a class="nav-link"    routerLink="addbook" *ngIf="authService.loggedIn()">Add Book</a>
        <a class="nav-link" style="cursor:pointer" (click)="logoutUser()" *ngIf="authService.loggedIn()">Logout</a> 
        <h1>LIBRARY MANAGEMENT SYSTEM</h1>
      </ul>
      </div>
    </nav>  
