.card
{
   width: 80%; 
   margin-left: 155px;
   margin-top: 50px; 
   margin-bottom: 60px;
/* Created with https://www.css-gradient.com */

background: #F8F8FC;
background: -webkit-linear-gradient(top left, #4216021b, #0e050098);
background: -moz-linear-gradient(top left, #4216021b, #0e05006d);
background: linear-gradient(to bottom right, #42160263, #0b0b0a71);


   color: white;
   border-radius: 16px;
}
td{
    color:white;
}
h1
{
   color:rgb(39, 35, 3) ;
   text-align: center; 
   margin-top: 25px;
}
input
{
    background-color: black;
    color:white;
    border:black;
    border-radius: 8px;
   
}
input:hover
{
    background-color: white;
    color:black;
}
td
{
    font-size: 25px;
}
